$fontFamily: 'Rubik';

$maxWidth: 1180px;
$mediumWidth: 992px;
$tableWidth: 768px;
$mobileWidth: 576px;

$blue: #2b6cf5;
$darkBlue: #204289;
$blue_50: rgba(100, 164, 236, 0.5);
$blue_10: rgba(100, 164, 236, 0.1);
$blue_13: rgba(32, 66, 137, 0.13);
$white: #ffffff;
